body {
  background-image: url(cats.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#box {
  /* border: 1px solid whitesmoke; */
  width: 100%;
  height: 400px;
  margin-top: 30px;
  margin-bottom: 10px;
}

button {
  background-color: royalblue;
  border-radius: 5px;
  border: solid royalblue;
  padding: 15px;
  font-size: 20px;
}

button:hover {
  background-color: silver;
  border: solid silver;
}
